# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Project special files
*.pdb
*.v12.suo
*.psess
*.vspx
*.suo
*/obj
Packages

# Result files
*/bin
*/Publish
*.dll

# For debugging, VS builds faster in just one output folder
Output/*

# Local settings
.vs/*
*.DotSettings
*.csproj.user
*.csproj.vspscc
*.tss
*.DotSettings.user

# Compiled shaders
*.fx.o

# Tests’ output
AcTools.Tests/test/kn5/*

# Specific unnecessary source files
AcManager/Assets/Data/ShowroomPreviewSphere/*
AcManager/Assets/Data/TrackPreviewNothing/*

# Some files with private values (you can always add your own)
FirstFloor.ModernUI/Helpers/ValuesStorage_EncryptionKey.cs
AcTools/AcdFile/AcdEncryption.cs

# RAM Disk trick
*/bin~
*/obj~
*.tmp_proj

# Libraries
Libraries/*
Libraries.zip
*.vsp
