# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


# =========================
# Project Special Files
# =========================

*.pdb
*.v12.suo
*.psess
*/obj

# Result files
*/bin
*/Publish
*.dll

*.fx.o
*.DotSettings
*.csproj.user
*.csproj.vspscc
.vs/*

Packages

# Tests output
AcTools.Tests/test/kn5/*

# Some way too meaningless or dead projects
*.suo

# Specific unnecessary source files
AcManager/Assets/Data/ShowroomPreviewSphere/*
AcManager/Assets/Data/TrackPreviewNothing/*
*.tss

# Some files with private values (you can always add your own)
FirstFloor.ModernUI/Helpers/ValuesStorage_EncryptionKey.cs
AcTools/AcdFile/AcdEncryption.cs
AcManager.Tools/Helpers/Api/OpenWeatherApiProvider_ApiCodes.cs
AcManager.Tools/Helpers/Api/KunosApiProvider_Consts.cs
AcManager.Tools/Helpers/Api/CmApiProvider_Consts.cs
AcManager.Tools/Helpers/Api/CmHelpersProvider_Consts.cs

# RAM Disk trick
*/bin~
*/obj~
*.tmp_proj
*.DotSettings.user
*.DotSettings

# Libraries
Libraries/*
Libraries.zip
*.vspx
