<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.3" targetFramework="net45" />
  <package id="Eto.OxyPlot.Wpf" version="1.0.5377.38510" targetFramework="net45" />
  <package id="JetBrains.Annotations" version="10.1.5" targetFramework="net45" />
  <package id="MoonSharp" version="1.6.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="OxyPlot.Core" version="2014.1.546" targetFramework="net45" />
  <package id="OxyPlot.Wpf" version="2014.1.546" targetFramework="net45" />
  <package id="sharpcompress" version="0.11.6" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net45" />
</packages>