body {
  background: #000 !important;
}

body, #cntdwn, .driver_profile {
  color: #FFF !important;
}

* {
  font-family: Segoe UI, sans-serif !important;
}

a {
  color: #E20035 !important;
}

#page {
  background: #333 !important;
}

h1, h2 {
  font-weight: 100 !important;
  font-family: Segoe UI Light, Segoe UI, sans-serif !important;
}

.margin_top_0 {
  margin-top: 20px !important;
}

.dd {
  font-size: 12px;
}

#track_msdd, #car_msdd {
  width: 300px !important;
}

#car_msdd ~ .submit_button {
  margin-left: 10px !important;
  display: inline-block !important;
  height: 64px !important;
  vertical-align: top;
  margin-bottom: 0 !important;
}

#new_menu ul li a[href], #new_menu ul li ul li a[href] {
  background: #444 !important;
  text-shadow: none !important;
  color: #FFF !important;
  font-weight: 400 !important;
  border: none !important;
  font-size: 12px !important;
}

#new_menu ul li a[href]:hover {
  background: #666 !important;
}

#new_menu ul {
  border: none !important;
  box-shadow: 0 0 10px rgba(0,0,0,.2) !important;
  position: relative !important;
  z-index: 9999 !important;
}

#new_menu ul li ul {
  position: fixed !important;
}

.rank_table th {
  background: #E20035 !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  padding: 4px !important;
}

.rank_table td {
  font-size: 12px !important;
}

.rank_table img[src*="/flags/"] {
  max-height: 20px !important;
}

.rank_table b {
  font-weight: 400 !important;
}

.driver_profile {
  border: none !important;
  background: transparent !important;
}

.avatar_image, .submit_button, .upload_inputtext, input[type=submit] {
  border: none !important;
  border-radius: 0 !important;
}

.submit_button {
  margin-left: 2px !important;
  display: block !important;
  margin-bottom: 24px !important;
}

input[type=submit] {
  background: #E20035 !important;
  height: 36px !important;
  font-size: 14px !important;
  outline: none !important;
}

input[type=submit]:hover, input[type=submit]:active {
  background: #CA0030 !important;
}

table tbody tr:nth-child(even) td {
  background: #404040 !important;
}

table tbody tr:nth-child(odd) td {
  background: #383838 !important;
}

table tbody tr:hover td {
  background: #555 !important;
}

#footer {
  background: transparent !important;
  height: 50px !important;
  overflow: hidden !important;
  font-size: 12px !important;
  line-height: 100px !important;
  position: relative !important;
  top: -20px !important;
  border: none !important;
}

.lapok a {
  font-size: 14px !important;
  color: #E20035 !important;
  width: 23px !important;
  height: 24px !important;
  padding-right: 1px !important;
  line-height: 23px !important;
  font-weight: 700 !important;
  vertical-align: middle !important;
  text-align: center !important;
  display: inline-block !important;
  text-decoration: none !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: 0 !important;
}

.lapok a.active {
  color: #888 !important;
}

#no_filter {
  vertical-align: top !important;
}

.borderRadius, .borderRadiusTp, .driver_profile {
  border-radius: 0 !important;
}

#header, #pb_bnr, #contentRSR .right_top_name, .change_style_div, .rank_table + br, .rank_table + br + h4 {
  display: none !important;
}

a:hover, a:focus, a:active, .lapok a:hover {
  color: #CA0030 !important;
}
