/* background */
body { padding: 0; }
@media not transparent-bg {
    body { background-image: none !important; }
    body, .pmspace_container { background: #000 !important; }
}

/* proper fonts */
* { font-family: Segoe UI, sans-serif !important; }
.fa { font-family: FontAwesome !important; }

/* html tweaks */
html { height: 100%; width: 100%; text-align: center; position: relative; }

/* welcome page */
a[href="race4.php"] { text-decoration: none; }

/* hide some unnecessary bits to fit in non-fullscreen window better */
.header .logo, .header .mainmenu, .newmenucenter, .menu.bottom_links, #footer .lower, .newmenu + .__wrapper, div[id^=Box_jbeeb_], .myannouncement, #shoutbox .head { display: none !important; }
.welcome { font-size: 0; }

/* some adjustments for chat */
#shoutbox { margin-bottom: 0 !important; background: #333 !important; }
#shoutbox .panel { border-top: none !important; }
#shoutbox input.text { background: #111; color: inherit; font-family: inherit; box-shadow: none !important; }
#shoutbox .body { display: block !important; }

/* no, thank you */
.unav > li> ul li ul, .unav li > ul li, .unav > li > .fulldrop, .unav > li > .coldrop, .unav > li > ul, .unav > li, .nav2 > li > ul li ul, .nav2 li > ul li, .nav2 > li > .fulldrop, .nav2 > li > .coldrop, .nav2 > li > ul, .nav2 > li { transition: none !important; -ms-transition: none !important; -webkit-transition: none !important }

/* cleaned up rating table */
img[style*="box-shadow: 4px 4px 4px #000"] { box-shadow: none !important; }
#content > div > div > table:first-child thead { height: 0; position: absolute; }
#content > div > div > table:first-child td { background: #404040 !important; }
#content > div > div > table:first-child tr:not(:first-child) td { padding: 0 10px !important; }

/* not sure what that is */
.post { color: #000 !important }
.breadcrumb { background: none; box-shadow: none }

/* main layout */
#container, #footer { min-height: 100%; background: #333 !important; margin: 0 auto; width: 1010px; }
#content { margin-left: 80px; background: none !important; }
#footer { padding-left: 0; }
#footer .wrapper { width: auto; }
#footer .upper { margin-top: 0 !important; padding-top: 10px !important; box-sizing: border-box !important; }

/* colors */
.welcome a { display: inline-block !important; line-height: 40px; border-radius: 0; margin: 0; padding: 0 12px; }
.welcome a:hover { color: #fff !important; }
.unav > li:hover, .nav2 li:hover, .detailstitleRoad, .tabs li:hover a, .tabs .active a, .dropdown > a:hover, .welcome a:hover { background: #666 !important; }

/* menu */
.newmenu { background: #444 !important; height: 40px !important; }
.nav2 { font-size: 12px !important; }
.nav2 li { border-bottom: none !important; height: 40px; line-height: 40px; vertical-align: middle; }
.nav2 li a, .wpanel a { display: block !important; height: 40px !important; line-height: 40px !important; background: none !important; border-bottom: none !important; text-shadow: none !important; font-size: 12px !important; font-weight: 400 !important; }
.nav2 > li > a, .nav2 > li > a:active, .nav2 > li > a:focus, .nav2 > li > a:hover, .dropdown > a, .dropdown > a:active, .dropdown > a:focus, .dropdown > a:hover, .unav > li > a, .unav > li > a:active, .unav > li > a:focus, .unav > li > a:hover { color: #fff !important; }
.wpanel { position: absolute; top: 0; right: -20px; height: 100%; }
#container .tborder { max-width: 720px; margin: 0; }
.unav, .wpanel { line-height: 40px !important; }
.unav > li:hover > a, .thead, .tcat, .tabs li, .tabs, .tabs a, .tborder, .tabletdRoad, .nav2, div[style*="border: 2px solid #fff"], .tab_container, #content { border: none !important; border-width: 0 !important; }
ul.tabs { height: auto !important; }
ul.tabs li { position: static !important; margin-bottom: 0 !important; }
body, #cntdwn, .driver_profile, table td { color: #FFF !important; }
.tcat { background: #383838 !important; }
.unav > li > ul { width: 320px !important; top: 40px !important; }
.unav > li > ul, .tooltiptext, .dropdown ul { box-shadow: 0 0 10px #000000 !important; box-shadow: 0 0 10px rgba(0, 0, 0, .2)!important; }

/* all #E20035 will be replaced with accent color */
a { color: #E20035 !important; }
.tabletdRoad, [style*="background:#A00000"], [style*="background-color:#A00000"], [style*="background-color:rgb(180, 0, 0)"], [style*="background-color:#B40000"], [style*="background-color: rgb(180, 0, 0)"], [style*="background-color: #B40000"], [style*="rgb(160, 0, 0)"], .thead, br + div[style^="background:rgb(0, 18, 230);"] { background: #E20035 !important; }

/* fixed controls */
.tooltiptext { text-align: left !important; box-sizing: border-box; font-weight: 300; left: 40px; margin-top: 10px; z-index: 999; padding: 8px !important; }
.tooltiptext:before { content: "Registered drivers:"; display: block; text-align: left; font-weight: 700; }
.downloadmods a { display: inline-block; padding-top: 2px !important; color: #FFF !important; font-size: 0; }
.downloadmods a:hover { color: #eee !important; }
.downloadmods a:after { content: "Uses Mods, Click Here"; font-size: 12px; vertical-align: middle; }
td.content, .detailsblock, td[style*="background:#f5f5f5"], td[style*="rgb(245, 245, 245)"] { background: #444 !important; color: #fff !important; }

.header { height: 0 !important; background: none !important; position: relative !important; }
#content > div > div { float: none !important; }
.tabletdRoad { font-weight: 400 !important; font-style: normal !important; }
a:hover, a:focus, a:active { color: #CA0030 !important; }
.nav2 li > ul li { border-left-color: #FFF !important; }
.nav2 li > ul li:hover, .unav > li > ul li:hover { background: #FFF !important; border-left-color: #E20035 !important; }
.tabs li { background: #444 !important; }
.tabs li a { color: #fff !important; font-size: 12px !important; }
.tab_container, #content { background: transparent; }
.tab_content { margin: 0; padding: 0; }
table { font-size: 12px; border-spacing: 0; border-collapse: collapse; }
.tborder, #container, #content, .myannouncement, .bottommenu, .thead, .tborder, .tborder tbody tr:last-child td:last-child, .tborder tbody tr:last-child td:first-child, .tooltiptext, .welcome a, button, input.button, input.textbox, input.invalid_field, input.valid_field, select, textarea, .editor_control_bar, blockquote, .codeblock, fieldset, .pm_alert, .red_alert, .popup_menu, .postbit_buttons > a, a.button { border-radius: 0 !important; border-top-left-radius: 0 !important; border-top-right-radius: 0 !important; border-bottom-left-radius: 0 !important; border-bottom-right-radius: 0 !important; }
.tborder { background: #aaa !important; color: #000 !important; }
.bottommenu { background: none !important; }
.trow1 { background: #404040 !important; }
.trow2 { background: #383838 !important; }
#content, .tborder, div[style*="box-shadow: 4px"] { box-shadow: none !important; }
.expcolimage + div > img:first-child + strong { vertical-align: middle !important; }
.btn, a.button:link, a.button:visited, input[type="submit"], input[type="button"] { font-size: 13px !important; font-weight: 700 !important; line-height: 100%!important; color: #FFF !important; background: #E20035; border-radius: 3px !important; overflow: hidden; display: inline-block; text-overflow: ellipsis; text-transform: uppercase; text-decoration: none; margin: 0 22px; padding: 5px 4px; border: none !important; border-width: 0 !important; }
.btn:hover, .btn:active, a.button:hover, a.button:visited, a.button:active, input[type="submit"]:hover, input[type="submit"]:active, input[type="button"]:hover, input[type="button"]:active { background: #CA0030; text-decoration: none; }
.btn[value="Unavailable"] { color: #888 !important; }
.add_buddy_button, input[type="submit"] { padding: 10px 24px !important; }

/* reorder some stuff */
body, #shoutbox .body { display: -webkit-flex !important; display: flex !important; -webkit-flex-direction: column; flex-direction: column; }
body > div:first-child[style*="overflow"] { order: 1; -webkit-order: 1; background: #333 !important; }
#container { order: 2; -webkit-order: 2; }
.wrapper { order: 3; -webkit-order: 3; }
#footer { order: 4; -webkit-order: 4; }
#shoutbox .panel { order: 1; -webkit-order: 1; }
a[href*="protest"] { order: 10; -webkit-order: 10; background: #333; color: #000 !important; }

/* ads */
#content > div > div + div { position: fixed; top: 80px; right: 8px; transform: scale(0.8); transform-origin: 260px 0; }
#content > div > div + div > div { background: none !important; border: none !important; margin-bottom: 8px; }
#content > div > div + div > br { display: none; }
#content > div > div + div > .tborder { background: none !important; }
#content > div > div + div > div > center { text-align: right; }
@media screen and (max-width: 1080px) { #content > div > div + div { display: none !important; } }
@media no-ads { #content > div > div + div { display: none; } }